@import 'src/config/styles/variables.const.scss';
:host {
    width: 100%;
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    padding: 1rem;
    position: sticky;
    bottom: 0;
}
