#!/usr/bin/env npx browserslist
## https://github.com/browserslist/browserslist/README.md

## Inclusions
> 0%
maintained node versions

## Exclusions
not < 0.27%      #NOTE: This is -3σ in normal distribution.
not current node #NOTE: LTSs only.
not dead
not ie >= 0      #NOTE: We explicitly unsupport IE.
not ie_mob >= 0  #NOTE: We explicitly unsupport IE.
