#!/usr/bin/env npx browserslist
## https://github.com/browserslist/browserslist/README.md

## Inclusions
> 99.73%              #NOTE: This is 3σ in normal distribution.
last 2 major versions #NOTE: This gives people time to update.
last 0.5 years        #NOTE: This gives new and actively-developed browsers a chance.
Firefox ESR

## Exclusions
not dead
not ie >= 0      #NOTE: We explicitly unsupport IE.
not ie_mob >= 0  #NOTE: We explicitly unsupport IE.
