## Version control
.git/
package-lock.json

## Unversionable
**/dist/*
**/node_modules/
**.bak
**.db
**.jar
**.old
**.swp
**.tmp

## IDEs
**/.vscode/

## System files
**/.directory
**/.DS_Store
**/desktop.ini
**/thumbs.db
**.fuse_hidden*

# Exceptions
!.keep
!.nojekyll
