@import 'config/styles/variables.const';
* {
	background: transparent;
	border: 0em solid /*$fg-view*/;
	border-collapse: collapse;
	border-image-width: 0em;
	border-spacing: 0em;
	box-sizing: border-box;
	/*color: $fg-view;*/
	font: 100% /*$font-sans*/;
	line-height: 1em;
	margin: 0em;
	overflow: visible;
	padding: 0em;
	text-decoration: none;
	text-indent: 0em;
	text-orientation: mixed;
	height: auto;
	width: auto;
	// z-index: 0;
}

html {&, * {flex-direction: row;}}

html.hor.ttb {&, * {writing-mode: horizontal-tb;}}
html.ver.ltr {&, * {writing-mode: vertical-lr;}}
html.ver.rtl {&, * {writing-mode: vertical-rl;}}

html.hor.ltr {&, * {direction: ltr;}}
html.hor.rtl {&, * {direction: rtl;}}
html.ver.ttb {&, * {direction: ltr;}}
html.ver.btt {&, * {direction: rtl;}}

html.hor.ltr {&, * {text-align: left;}}
html.hor.rtl {&, * {text-align: right;}}
html.ver.ttb {&, * {text-align: left;}}
html.ver.btt {&, * {text-align: right;}}

html.ttb {&, * {vertical-align: top;}}
html.btt {&, * {vertical-align: bottom;}}
