* {
	background: transparent;
	border: 0em solid $fg-view;
	border-collapse: collapse;
	border-image-width: 0em;
	border-spacing: 0em;
	box-sizing: border-box;
	color: $fg-view;
	font: 100% $font-sans;
	line-height: 1em;
	margin: 0em;
	overflow: none;
	padding: 0em;
	text-align: justify;
	text-decoration: none;
	text-indent: 0em;
	vertical-align: top;
	width: auto;
	// z-index: 0;
}
