@import 'config/styles/variables.const';
* {
	background: transparent;
	border: 0em solid $fg-view;
	border-collapse: collapse;
	border-image-width: 0em;
	border-spacing: 0em;
	box-sizing: border-box;
	color: $fg-view;
	font: 100% $font-sans;
	line-height: 1em;
	margin: 0em;
	overflow: hidden;
	padding: 0em;
	text-align: justify;
	text-decoration: none;
	text-indent: 0em;
	height: auto;
	width: auto;
	// z-index: 0;
}

:host-context(html.ttb) * {vertical-align: top;}
:host-context(html.btt) * {vertical-align: bottom;}
