:host {
    display: block;
    width: 100%;
    user-select: none;
    background-color: white;
    &, * {
        color: black;
    }
    >ul {
        display: flex;
        list-style-type: none;
        >li {
            padding: 1rem;
            &, * {
                cursor: pointer;
            }
        }
    }
    margin-bottom: 1rem;
}
