$font-path: '/res/fnt/aethodic';
$font-family: 'Aethodic Sans';

////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: $font-family;
    src: local('Aethodic Sans'),
         local('AethodicSans'),
           url($font-path + '5.woff2') format('woff2'),
           url($font-path + '5.woff')  format('woff');
   font-weight:    500;
     font-style:   normal;
     font-display: block;
}
