@import 'palette.const';
// https://material.angular.io/guide/theming

// Light theme
$app-light-primary: mat-palette(map-get($app-palettes, '---'), 500, 100, 900);
$app-light-accent:  mat-palette(map-get($app-palettes, '120'), 500, 100, 900);
$app-light-warn:    mat-palette(map-get($app-palettes, '300'), 500, 100, 900);
$app-light-theme:   mat-light-theme($app-light-primary, $app-light-accent, $app-light-warn);

// Dark theme
$app-dark-primary: mat-palette(map-get($app-palettes, '---'), 500, 900, 100);
$app-dark-accent:  mat-palette(map-get($app-palettes, '120'), 500, 900, 100);
$app-dark-warn:    mat-palette(map-get($app-palettes, '300'), 500, 900, 100);
$app-dark-theme:   mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);
