@import 'src/config/styles/variables.const';
:host mat-toolbar {
    display: flex;
    font-size: unset;
    // background-color: $fg-view;
    // &, * {
    //     color: $bg-view;
    // }
    >* {
        display: block;
        padding: 1rem;
    }
}
:host-context(html.hor) mat-toolbar {width:  100%;}
:host-context(html.ver) mat-toolbar {height: 100%;}
