@import 'src/config/styles/variables.const';
:host {
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    padding: 1rem;
    position: sticky;
    >p {
        margin: 0;
    }
}

:host-context(html.hor) {width:  100%;}
:host-context(html.ver) {height: 100%;}

:host-context(html.hor.ttb) {bottom: 0;}
:host-context(html.hor.btt) {top:    0;}
:host-context(html.ver.ltr) {right:  0;}
:host-context(html.ver.rtl) {left:   0;}
