@import 'src/config/styles/variables.const';
:host mat-toolbar {
    font-size: unset;
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    position: sticky;
    padding: 1rem;
    >p {
        margin: 0;
    }
}

:host-context(html.hor) mat-toolbar {width:  100%;}
:host-context(html.ver) mat-toolbar {height: 100%;}

:host-context(html.hor.ttb) mat-toolbar {bottom: 0;}
:host-context(html.hor.btt) mat-toolbar {top:    0;}
:host-context(html.ver.ltr) mat-toolbar {right:  0;}
:host-context(html.ver.rtl) mat-toolbar {left:   0;}
