@import 'src/config/styles/variables.const';
:host mat-toolbar {
    padding: 0;
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    >ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
    display: flex;
    >span {
        flex-grow: 1;
    }
}
:host-context(html.hor) mat-toolbar {width:  100%;}
:host-context(html.ver) mat-toolbar {height: 100%;}
