<mat-toolbar class="mat-elevation-z4">
    <ul>
        <li *ngFor="let button of leftButtons">
            <a mat-button [routerLink]="button.route">
                <slot [innerHtml]="button.text | i18n"></slot>
            </a>
        </li>
    </ul>
    <span></span>
    <ul>
        <li *ngFor="let button of rightButtons">
            <a mat-button [routerLink]="button.route">
                <slot [innerHtml]="button.text | i18n"></slot>
            </a>
        </li>
    </ul>
</mat-toolbar>
