@import 'src/config/styles/variables.const';
:host {
    user-select: none;
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    >ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        >li >a {
            display: block;
            padding: 1rem;
            cursor: pointer;
        }
    }
    display: flex;
    >span {
        flex-grow: 1;
    }
}

:host-context(html.hor) {
    width: 100%;
}

:host-context(html.ver) {
    height: 100%;
}
