@import 'src/config/styles/variables.const';
:host {
    width: 100%;
    user-select: none;
    background-color: $fg-view;
    &, * {
        color: $bg-view;
    }
    >ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        >li >a {
            display: block;
            padding: 1rem;
            cursor: pointer;
        }
    }
}
