@import 'src/config/styles/variables.const';

body {
    // background-color: $bg-win;
    :host {
        // background-color: $bg-view;
        display: flex;
        >div {
            flex-grow: 1;
            padding: 1rem 1rem;
        }
    }
}

$content-max-size: 60rem;
:host-context(html.hor) {
    >div {
        overflow-y: auto;
    }
    >* {
        max-width: $content-max-size;
    }
    margin: 0 calc(50% - (#{$content-max-size} / 2));
    height: 100%;
}
:host-context(html.ver) {
    >div {
        overflow-x: auto;
    }
    >* {
        max-height: $content-max-size;
    }
    margin: calc(50% - (#{$content-max-size} / 2)) 0;
    width: 100%;
}

:host-context(html.ver.ltr) {flex-direction: column;}
:host-context(html.ver.rtl) {flex-direction: column;}
:host-context(html.hor.ttb) {flex-direction: column;}
:host-context(html.hor.btt) {flex-direction: column-reverse;}
