:host {
    height: 100%;
    width: 100%;
    display: flex;
    >div {
        flex-grow: 1;
    }
}

:host-context(html.hor) {
    >div {
        overflow-y: auto;
        margin: 1rem 0;
        padding: 0 1rem;
    }
    >* {
        max-width: 60rem;
    }
}
:host-context(html.ver) {
    >div {
        overflow-x: auto;
        margin: 0 1rem;
        padding: 1rem 0;
    }
    >* {
        max-height: 60rem;
    }
}

:host-context(html.hor.ttb) {flex-direction: column;}
:host-context(html.hor.btt) {flex-direction: column-reverse;}
:host-context(html.ver.ltr) {flex-direction: row;}
:host-context(html.ver.rtl) {flex-direction: row-reverse;}
